# FOLDERS
bin
*/*.DS_Store
.sandbox
Video

# Wallet
wallet

# CCPs GENERATED
connection-org*.json

# CRYPTO MATERIAL
configs/channel-artifacts
configs/crypto-config

# GO
vendor/

# NODE MODULES
node_modules/
ui/client/src/compass/

# DB
*.db
